#container {
  max-width: 100vw;
}

#page-title {
  height: 8vh;
}

.page-content {
  height: 90vh;
  width: 100%;
  display: flex;
  position: relative;
}

.tab-content {
  height: 100%;
  width: 95%;
  border: solid 2px;
  position: absolute;
}

.content-1 {
  background-color: #fffff0;
  background-image: -webkit-linear-gradient(
    -90deg,
    #fffff0 0vh,
    #fffff0 70vh,
    #e8e6da 90vh
  );
  z-index: 2;
}

.content-2 {
  background-color: #f1fff0;
  background-image: -webkit-linear-gradient(
    -90deg,
    #f1fff0 0vh,
    #f1fff0 70vh,
    #dcebdb 90vh
  );
  z-index: 1;
}

.content-3 {
  background-color: #f0fdff;
  background-image: -webkit-linear-gradient(
    -90deg,
    #f0fdff 0vh,
    #f0fdff 70vh,
    #d9e8eb 90vh
  );
  z-index: 0;
}

.tab-menus {
  width: 5%;
  position: absolute;
  left: 95%;
}

.tab {
  height: 20vh;
  border-radius: 0 2rem 2rem 0;
  width: 100%;
  border: solid 2px;
  border-left: 0;
  position: absolute;
  left: -2px;
}

.tab div {
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20vh;
  text-align: center;
}

.tab-1 {
  background-color: #fffff0;
  z-index: 2;
}

.tab-2 {
  background-color: #f1fff0;
  top: 19vh;
  z-index: 1;
}

.tab-3 {
  background-color: #f0fdff;
  top: 38vh;
  z-index: 0;
}

#asian-games-yearly-logo {
  display: none;
  position: absolute;
  left: 51%;
  top: 44%;
  transform: translate(-50%, -50%);
  max-height: 40%;
  max-width: 40%;
  object-fit: contain;
}

.country-name {
  font-size: 144px;
  text-align: center;
}

.country-flag {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.country-flag-image {
  -ms-transform: translate(-50px, 0px); /* IE 9 */
  -webkit-transform: translate(-50px, 0px); /* Safari */
  transform: translate(-50px, 0px);
}

.country-select {
  width: 100% !important;
}
