#container {
  max-width: 100vw;
  height: 100vh;
  background-color: rgb(187, 52, 49);
}

#page-title {
  height: 8vh;
  font-family: "Righteous", cursive;
  position: relative;
  display: flex;
}

#page-title h1 {
  color: white;
  margin-left: 2rem;
}

.page-content {
  width: 100%;
  display: flex;
}

.tab-content {
  height: 92vh;
  width: 100%;
  border-top: solid 2px;
  position: absolute;
  background-color: #ffffff;
}

.content-1 {
  z-index: 2;
}

.content-2 {
  z-index: 1;
}

.content-3 {
  z-index: 0;
}

.tab-menus {
  width: 50%;
  height: 4vh;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tab {
  height: 80%;
  border-radius: 2rem 2rem 0 0;
  width: 34%;
  border: solid 2px;
  border-bottom: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tab.active {
  height: 120%;
}

#asian-games-yearly-logo {
  display: none;
  position: absolute;
  left: 51%;
  top: 44%;
  transform: translate(-50%, -50%);
  max-height: 40%;
  max-width: 40%;
  object-fit: contain;
  filter: grayscale(100%) opacity(30%);
}

#indonesia-year-donut-chart-container:hover #asian-games-yearly-logo {
  filter: none;
}

.country-name {
  font-size: 144px;
  text-align: center;
}

.country-flag {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #000000;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.country-flag-image {
  -ms-transform: translate(-50px, 0px); /* IE 9 */
  -moz-transform: translate(-50px, 0px); /* Mozzila */
  -webkit-transform: translate(-50px, 0px); /* Safari */
  transform: translate(-50px, 0px);
}

.country-select {
  width: 100% !important;
}

#chart-title {
  text-align: center;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.chart-instruction {
  font-family: "Lato", sans-serif;
  color: #b9b9b9;
}

#indonesia-sport-chart .apexcharts-tooltip {
  color: rgb(187, 52, 49);
}

.mb-0 {
  margin-bottom: 0;
}

.content-1 .chart-instruction {
  margin-left: 5rem;
}
