<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Dashboard Asian Games</title>
    <!-- Load JS and CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-select.min.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Righteous" rel="stylesheet">
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/apexcharts.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-select.min.js" %}"></script>
    
</head>
<body>
    <div id="container">
        <div id="page-title">
            <h1>Indonesia dalam Asian Games</h1>
            <div class="tab-menus">
                <div class="tab tab-1 active">Progres</div>
                <div class="tab tab-2">Tuan Rumah</div>
                <div class="tab tab-3">Cabang Olahraga</div>
            </div>
        </div>
        <div class="page-content">
            <div class="tab-content content-1">
                <div class="col-lg-8">
                    <div id="chart-title">
                        <h3 class="mb-0">Perolehan Medali Indonesia di Asian Games</h3>
                    </div>
                    <div class="chart-instruction ml-3">Klik untuk mengganti detail tahun</div>
                    <div id="indonesia-bubble-chart"></div>
                </div>
                <div class="col-lg-4 position-relative">
                    <div class="annotation text-justify">
                        Indonesia memperoleh perolehan medali paling banyak sepanjang sejaran Indonesia pada Asian Games 2018.
                        Apakah ini menjadi pertanda bahwa Indonesia telah bangkit, atau hanya faktor tuan rumah yang menjadi pemberi semangat lebih bagi atlet Indonesia?
                    </div>
                    <div id="chart-title">
                        <h3>  Medali Indonesia di Event Tahun <span id="chosen-year-indonesia-bubble-chart">2018</span> </h3>
                    </div>
                    <div id="indonesia-year-donut-chart-container">
                        <div id="indonesia-year-donut-chart"></div>
                        <img id="asian-games-yearly-logo" src={% static "assets/asian-games-logo/2018.png" %}/>
                    </div>
                </div>
            </div>
            <div class="tab-content content-2">
                <div class="charts">
                    <div class="col-lg-5">
                        <div id="chart-title">
                            <h3> Perolehan Medali Negara Tuan Rumah pada 10 Event Terakhir </h3>    
                        </div>
                        <div id="hosts-line-chart"></div>
                    </div>
                    <div class="col-lg-2">
                        <div class="row">
                            <!--<div id="country-name" class="country-name">IDN</div>-->
                            <div id="country-flag" class="country-flag">
                                <img id="country-flag-image" class="country-flag-image" height="100%" src="{% static "assets/country-flags/Indonesia.svg" %}"></img>
                            </div>
                            <select id="country-selector" class="country-select selectpicker" onchange="selectCountry(this.value)">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div id="chart-title">
                            <h3> Perolehan Medali Negara Tuan Rumah pada 10 Event Terakhir </h3>    
                        </div>
                        <div id="individual-country-bar-chart"></div>
                    </div>
                </div>
                <div class="annotation text-justify">
                    Data statistik menunjukkan bahwa semua negara cenderung mengalami peningkatan saat menjadi tuan rumah,
                    begitu pula halnya yang dialami oleh Indonesia.
                    Hal ini tidak terlepas dari hak tuan rumah untuk menambahkan 5 cabor pilihannya sendiri.
                    Seberapa signifikan pengaruh cabor pilihan untuk Indonesia pada Asian Games 2018?
                </div>
            </div>
            <div class="tab-content content-3">
                <div class="annotation text-justify">
                    Ternyata, cabor pilihan Indonesia terbukti dapat meningkatkan perolehan medali secara signifikan.
                    Namun, hal yang menarik di sini ialah bahwa cabor olimpiade masih tetap menjadi penyumbang medali terbanyak.
                    Untuk diketahui, cabor olimpiade adalah cabor yang pasti diadakan dalam setiap event Asian Games.
                    Hal ini berarti, Indonesia pun cukup siap bersaing untuk Asian Games mendatang.
                </div>
                <div class="annotation text-justify">
                    Jangan lupa tetap, dukung Indonesia di Asian Games selanjutnya, ya!
                </div>
                <div class="charts">
                    <div class="col-lg-6">
                        <div id="chart-title">
                            <h3 class="mb-0"> Perolehan Medali Indonesia pada Asian Games 2018 Berdasarkan Jenis Cabor</h3>
                        </div>
                        <div class="chart-instruction text-center">Klik untuk mengganti jenis kelompok cabor</div>
                        <div id="indonesia-sport-chart"></div>
                    </div>
                    <div class="col-lg-6">
                        <div id="chart-title">
                            <h3 class="mb-0"> Perolehan Medali Indonesia pada Asian Games 2018 </h3>
                        </div>
                        <div class="chart-instruction text-center">Klik legenda untuk mematikan / menghidupkan jenis medali</div>
                        <div id="selection-sport-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static "js/index-tab-1.js" %}"></script>
<script src="{% static "js/index-tab-2.js" %}"></script>
<script src="{% static "js/index-tab-3.js" %}"></script>
<script>
    var activeTab = $('.active');
    // Load all chart 
    // Page 1
    loadIndonesiaMedals();
    loadIndonesiaYearlyMedals(2018);

    // Page 2
    initHostsLineChart();

    // Page 3
	loadIndonesiaSportSummaryChart();
	loadSelectionSportChart("Pilihan Indonesia");
    
    $('.tab').click(function() {
        const elClassName = this.className.split(/\s+/)[1];
        const elIdentifier = elClassName.split('-')[1];
        activeTab.css('height', '80%');

        // set all pages to the original position
        $('.content-1').css('z-index', 2);
        $('.content-2').css('z-index', 1);
        $('.content-3').css('z-index', 0);

        // set selected page to the front
        $(this).css('height', '120%');
        activeTab = $(this);
        $('.content-' + elIdentifier).css('z-index', 3);
    })

</script>

</html>

